<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Título da notícia 1</title>
	<link href="../vendor/css/bootstrap.min.css" rel="stylesheet">
	<link href="../assets/css/style.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
	<main>
		<section>
		<div class="topo">
			<img src="../assets/img/topo.jpg" alt="Topo Notícias">
		</div>
		</section>
		<section>
			<div class="container conteudo">
				<div class="row">
				  <div class="col-md-12">
					<article>
						<h4><a href="#">Título da notícia 1</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptate quidem, a explicabo. Nihil sed quaerat deserunt officiis est. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore enim possimus quam molestias dignissimos officiis reprehenderit autem quod odio aliquid, iusto nesciunt quaerat voluptatibus, quae perferendis, non maxime. Veritatis.</p>
						<div class="info">
							<ul>
								<li><i class="glyphicon glyphicon-user"></i> Edicarla Silva</li>
								<li><i class="glyphicon glyphicon-calendar"></i> 31 de maio de 2015</li>
							</ul>
						</div>
					</article>
				  </div>
				</div>
			</div>
		</section>
	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="../vendor/js/bootstrap.min.js"></script>
</body>
</html>
