html, body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}
@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirRoman.otf');
}
.crud-portfolio {
	height: auto;
	background-color: #FFFFFF;
	float: left;
	font-family: 'Avenir', cursive;
	color: #3F51B5;
	margin-left: 280px;
}
.crud-portfolio .content-form {
	margin: 0 0 40px 3%;
	width: 100%;
	height: auto;
	float: left;
}
.crud-portfolio .content-form form{
	width: 60%;
}
.crud-portfolio .content-form h3 {
	color: #34495e;
}
.crud-portfolio .image{
	margin-bottom: 25px;
}
.crud-portfolio .fields {
	background: 0 0;
	outline: 0;
	border: none;
	border-bottom: 2px solid #3F51B5;
	width: 100%;
	margin-bottom: 30px;
}
.crud-portfolio .content-form button {
	border: none;
	height: 40px;
	width: 60%;
	cursor: pointer;
	color: #F0F0F0;
	background-color: #3F51B5;
	margin:0 0 30px 20%;
}
.crud-portfolio .content-form button:hover {
	color: #4771E4;
	background-color: #FFFFFF;
	border: 2px solid #3F51B5;
}
.crud-portfolio .content-table {
	margin-left: 3%;
	width: 100%;
}
.crud-portfolio .content-table table {
	width: 100%;
}
.crud-portfolio .content-table table td {
	margin-right: 1000px;
}
.crud-portfolio .content-table table td img {
	height: 150px;
}
.crud-portfolio .content-table h3 {
	color: #34495e;
}
.crud-portfolio .content-table #update {
	cursor: pointer;
	background-color: #3F51B5;
	color: #F0F0F0;
	border: none;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	width: 100px;
	padding-left: 10px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
.crud-portfolio .content-table #update a {
	text-decoration: none;
	color: #F0F0F0;
}
.crud-portfolio .content-table #delete {
	cursor: pointer;
	font-weight: bolder;
	background-color: red;
	border: red 2px solid;
	color: #F0F0F0;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
